<ion-header padding center text-center>
  <ion-toolbar color="primary">
    <ion-title >login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="exemplo@exmplo.com" type='email'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input placeholder= "n123456"type='password'></ion-input>
      </ion-item>

      
      <ion-button expand="block" color="primary">Entra</ion-button>
      <ion-button expand="block" fill="outline">Nao tem conta? Cadastre-se!</ion-button>

      
      

    </ion-list>
  </form>

</ion-content>
